@font-face {
  font-family: "Noto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Noto Regular"),
    local("Noto-Regular"),
    url(~typeface-noto-serif/files/noto-serif-latin-400.woff2) format("woff2"),
    url(~typeface-noto-serif/files/noto-serif-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Noto";
  font-style: italic;
  font-weight: 400;
  src:
    local("Noto Italic"),
    local("Noto-Italic"),
    url(~typeface-noto-serif/files/noto-serif-latin-400italic.woff2) format("woff2"),
    url(~typeface-noto-serif/files/noto-serif-latin-400italic.woff) format("woff");
}

@font-face {
  font-family: "Noto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Noto Medium"),
    local("Noto-Medium"),
    url(~typeface-noto-serif/files/noto-serif-latin-700.woff2) format("woff2"),
    url(~typeface-noto-serif/files/noto-serif-latin-700.woff) format("woff");
}

@font-face {
  font-family: "Noto";
  font-style: italic;
  font-weight: 700;
  src:
    local("Noto Medium Italic"),
    local("Noto-MediumItalic"),
    url(~typeface-noto-serif/files/noto-serif-latin-700italic.woff2) format("woff2"),
    url(~typeface-noto-serif/files/noto-serif-latin-700italic.woff) format("woff");
}
